body{margin:0;}
main{width:100vw;
    display:grid;

    /*3칸으로 구성하겠다.
    첫번째 칸은 가로크기 200px
    두번째 칸은 남는 공간 모두 차지
    세번째 칸은 가로 크기 300px */
    grid-template-columns: 200px 1fr 300px;
    /*세로를 몇 칸으로 구성할지 설정
    첫번쨰 줄은 셀크기 80px
    두번째 줄은 셀크기 200px
    세번째 줄은 1fr과 유사
    네번째 줄은 세로 크기 200px */
    grid-template-rows:80px 200px auto 200px;
    gap:12px
}
nav{
    grid-column: 1 / -1;
}
aside{
    grid-row:2/4;
}
.sec-1{
    grid-column:2/-1;
}
footer{
    grid-column: 1 / -1;
}

main>*{
    padding:0.8em;
    color:slateblue;
    background-color: lavender;
}
.sec-2 div{

    margin:1em;
    padding:1.6em;
    line-height:2.4em;
    font-family:serif;
    color:#555;
    background-color: white;
}